h1 {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: #000080;
  margin: 0;
  padding: 0;
  line-height: 1.5em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 0 1px 0 orange;
}
/* center theh bankdiv div */
.bankdiv {
  margin: 0 auto;
  width: 500px;
  padding: 10px;
  background: transparent;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  text-align: center;
}
/* center the coindiv div */
/* make the coindiv go behind bankdiv */
.coindiv {
  margin: 0 auto;
  width: 500px;
  padding: 10px;
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  text-align: center;
  position: relative;
  z-index: -1;
}

