h1 {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: #000080;
  margin: 0;
  padding: 0;
  line-height: 1.5em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 0 1px 0 orange;
}
/* center theh bankdiv div */
.bankdiv {
  margin: 0 auto;
  width: 500px;
  padding: 10px;
  background: transparent;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  text-align: center;
}
/* center the coindiv div */
/* make the coindiv go behind bankdiv */
.coindiv {
  margin: 0 auto;
  width: 500px;
  padding: 10px;
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  text-align: center;
  position: relative;
  z-index: -1;
}
/* fix the woman svg next to the bag*/



#woman2 {
  position: absolute;
  top: 100px;
  left: 50px;
  z-index: 1; 
  transform: scale(2.5);
}

#woman3{
  position: absolute;
  top: 50px;
  left: 150px;
  z-index: 1;
  transform: scale(2.5);
}
#woman4{
  position: absolute;
  top: 50px;
  left: 350px;
  z-index: -1;
  transform: scale(2.5);
}
#woman5{
  position: absolute;
  top: 100px;
  left: 450px;
  z-index: -1; 
  transform: scale(2.5);
  overflow: hidden;
}
/* 
#woman5{
  position: absolute;
  top: 50px;
  left: 500px;
  z-index: 1;
  transform: scale(2.5);
} */
